
    <tr>
       

        <td width="30%" height="100px">

            <a asp-controller="Accountss" asp-action="Index"> CREATE</a>

            <a asp-controller="Accountss" asp-action="Edit">  EDIT</a>

            <a asp-controller="Accountss" asp-action="Delete">  DELETE</a>
        </td>
        <td>
            @RenderBody()

        </td>
    </tr>

